{% extends "base.html" %}
{% block content %}

	<div class="using_address">
		<h1>{{ address['fullname'] }}</h1>
		<div class="address_details">
			<p>Phone : {{ address['phone'] }}</p>
			<p>City : {{ address['city'] }}</p>
			<p>State : {{ address['state'] }}</p>
			<p>Building : {{ address['building'] }}</p>
		</div>
		<br>
		<div>
            <a class="btn btn-secondary" href="/payment_options/{{ plan_id }}">proceed</a>
			<a class="btn btn-secondary" href="/edit_address">Edit Address</a>
		</div>
	</div>

{% endblock content %}